*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* navbar form */
.nav-table{
    text-align: center;
    margin-bottom: 2rem;
}

/* input style */

.input{
    border: 1px solid slateblue;
    margin: 0 1rem;
    border-radius: 5px;
    padding: 5px 1rem 7px 1rem;
    width: 300px;
    transition: .5s;
    outline: none;
}
.int{
    border: 1px solid slateblue;
    transition: .5s;
    outline: none;
}
.int:focus,
.input:focus{
    border: 1px solid rgb(188, 178, 255);
    box-shadow: 0 0 10px rgb(179, 167, 255);
    transform: translateY(-2px);
}

.desciptionInput{
    margin: 10px 270px 10px 270px;
}
.input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: rgb(122, 113, 182);
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    margin: 10px 270px 10px 270px;
    transition: .5s;
  }
  .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    
  }
   .input-file:hover + .input-file-trigger,
   .input-file:focus + .input-file-trigger,
   .input-file-trigger:hover,
   .input-file-trigger:focus {
    border: 1px solid rgb(104, 83, 244);
    box-shadow: 0 0 10px rgb(134, 120, 225);
    background: slateblue;

    transform: translateY(-2px);
  }

/* background */
.bg-slate{
    background: rgb(245, 244, 253);
    box-shadow: 0 0 5px rgb(160, 168, 175);
    border-radius: 5px;
}
.bg-none{
    background: none;
    border: none;
}

/* table */
.nav-body{
    margin: 0 2rem;
    padding: 1rem;
}
.table-serach{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table{
    margin-top: 2rem;
    box-shadow: 0 0 5px rgb(102, 102, 102);
    border-radius: 10px;
    overflow: hidden;
}

.table thead tr th,
.table tbody tr td
{
    text-align: center;
    border: 1px solid rgb(202, 193, 255);
    border-top: none;
}

.tr-table{
    line-height: 20px;
    transition: .25s;
    cursor: pointer;
}

/* tr table hover */
.tr-table:hover{
    background: rgb(221, 215, 255) !important;
}
.tr-table:hover td{
    font-weight: 600;
}

.table .tr-table:nth-child(odd){
    background: rgb(250, 250, 250);
}

.btn-close .bx,
.tbody .action .act-btn{
    font-size: 18px;
    color: slategray;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    border: none;
    background: none;
}
.tbody .action .act-btn:nth-child(1){
    color: red;
}
.tbody .action .act-btn:nth-child(2) {
    color: blue;
}
.tbody .action .act-btn:hover{
    transform: translateY(-2px);
}
.table-th{
    background: rgb(51, 40, 92);
    color: #fff;
}

/* width */
.width{
    width: 100px;
}
.width-check{
    width: 10px;
}
.check input{
    margin-top: 5px;
}
/* modal */
.btn-close .bx{
    font-size: 22px;
    font-weight: 700;
}

.modal-body.delete{
    display: block;
}

.modal-body.edit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-body.edit form{
    width: 100%;
}
.modal-body.edit .input{
    width: 48%;
    margin: 0 7px 0 0;
}

/* table footer */
.table-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.table-footer .pagination{
    margin: 0;
}
.table-footer button{
    position: absolute;
    right: 5px;
    display: none;
    transition: .25s;
}

.sortable{
    background: rgb(216, 209, 253) !important;
    opacity: 0;
}

.deleteFormImg{
    margin: 10px;
    width: 450px;
    height: 300px;  
}
.allDeleteFormImg{
    margin: 10px;
    width: 250px;
    height: 200px; 
}
.deleteFormText{
    width: 400px;
}