* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    transition: ease-in-out 0.3s;
}

body {
    background-color: #DBD6D6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header section styles */

header {
    background-color: #000000E8;
    border-radius: 0px 0px 68px 68px;

}

.header-container {
    padding: 33px 0 33px 60px;
}

.site-logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    header {
        border-radius: 0px 0px 48px 48px;
    }

    .header-container {
        padding: 25px 0 25px 45px;
    }

    .site-logo {
        font-size: 30px;
        line-height: 45px;
    }
}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    header {
        border-radius: 0px 0px 37px 37px;
    }

    .header-container {
        padding: 15px 0 15px 30px;
    }

    .site-logo {
        font-size: 20px;
        line-height: 30px;
    }
}

/* Hero section */

.hero-container {
    padding-top: 150px;
    text-align: center;
    margin-bottom: 200px;
}

.hero-container>h1 {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 75px;
    line-height: 108%;
    color: #1F1F1F;
}

.hero-container>h1 {
    margin-bottom: 80px;
}

.start-btn {
    cursor: pointer;
    padding: 21px 73px 21px 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 152.7%;
    color: #FFFFFF;
    background-color: #16ABFF;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25), 8px 7px 11px rgba(162, 105, 121, 0.08);
    border-radius: 53px;
}

.start-btn:hover {
    transform: scale(1.1);
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    .hero-container {
        padding-top: 100px;
        margin-bottom: 140px;
    }

    .hero-container>h1,
    .hero-container>span {
        font-size: 50px;
    }

    .hero-container>h1 {
        margin-bottom: 55px;
    }

    .start-btn {
        padding: 15px 49px;
        font-size: 27px;
    }
}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    .hero-container {
        padding-top: 50px;
        margin-bottom: 90px;
    }

    .hero-container>h1,
    .hero-container>span {
        font-size: 35px;
    }

    .hero-container>h1 {
        margin-bottom: 45px;
    }

    .start-btn {
        padding: 12px 26px;
        font-size: 20px;
    }
}

/* search section */

.search {
    margin-bottom: 60px;
}

.search-input {
    width: 100%;
    padding: 30px 0 23px 39px;
    margin-bottom: 50px;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
    border: transparent;
    border-radius: 53px;
}

.categories-wrapper,
.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categories>li {
    cursor: pointer;
    padding: 10px 45px 10px 45px;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
    border-radius: 53px;
}

.categories>li:hover {
    transform: scale(1.1);
}

.categories-more {
    cursor: pointer;
    background-color: transparent;
    font-family: 'Almarai';
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-decoration-line: underline;
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    .search {
        margin-bottom: 40px;
    }

    .search-input {
        padding: 20px 0 20px 17px;
        margin-bottom: 30px;
    }

    .categories-wrapper,
    .categories {
        gap: 15px;
    }

    .categories>li {
        padding: 11px 32px 12px 32px;
        font-size: 16px;
        line-height: 18px;
    }

    .categories-more {
        font-size: 16px;
        line-height: 18px;
    }
}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    .search {
        margin-bottom: 13px;
    }

    .search-input {
        padding: 11px 0 11px 15px;
        margin-bottom: 15px;
    }

    .categories-wrapper,
    .categories {
        gap: 5px;
    }

    .categories>li {
        padding: 7px 14px 8px 14px;
        font-size: 9px;
        line-height: 10px;
    }

    .categories-more {
        font-size: 9px;
        line-height: 10px;
    }
}

/* products */

.category-name {
    margin-bottom: 65px;
    font-family: 'Almarai';
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #474747;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.product {
    max-width: 250px;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.product:hover {
    transform: scale(1.05);
}

.image-wrapper {
    margin-bottom: 40px;
}

.image-wrapper>img {
    max-width: 200px;
    width: 100%;
    max-height: 203px;
    height: 100%;
    object-fit: contain;
}

.product-body>h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 8px;
}

.product-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.product-view-btn {
    cursor: pointer;
    padding: 10px 0;
    max-width: 131px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #16ABFF;
    border: 1px solid #16ABFF;
    border-radius: 100px;
}

.product-view-btn:hover {
    background-color: transparent;
    color: #16ABFF;
    transition: 0s;
}

.product-view-btn:active {
    background-color: #16ABFF;
    color: #000000;
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    .category-name {
        margin-bottom: 35px;
        font-size: 23px;
        line-height: 26px;
    }

    .all-products {
        gap: 20px;
        margin-bottom: 80px;
    }

    .product {
        max-width: 200px;
        padding: 30px 20px;
        border-radius: 40px;
    }

    .image-wrapper {
        margin-bottom: 30px;
    }

    .image-wrapper>img {
        display: block;
        max-width: 172px;
        max-height: 140px;
        margin: 0 auto;
    }

    .product-body>h5 {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 5px;
    }

    .product-price {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .product-view-btn {
        padding: 6px 0;
        max-width: 100px;
        font-size: 13px;
        line-height: 20px;
        border-radius: 65px;
    }

}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    .category-name {
        margin-bottom: 13px;
        font-size: 15px;
        line-height: 17px;
    }

    .all-products {
        gap: 13px;
        margin-bottom: 45px;
    }

    .product {
        max-width: 158px;
        padding: 30px 14px;
        border-radius: 30px;
    }

    .image-wrapper {
        margin-bottom: 12px;
    }

    .image-wrapper>img {
        display: block;
        max-width: 94px;
        max-height: 77px;
        margin: 0 auto;
    }

    .product-body>h5 {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 3px;
    }

    .product-price {
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .product-view-btn {
        padding: 3px 0;
        max-width: 75px;
        font-size: 10px;
        line-height: 15px;
        border-radius: 30px;
    }

}

/* pagination */
.pagination {
    margin: 0 auto;
    max-width: 434px;
    width: 100%;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    margin-bottom: 150px;
}

.pagination>img {
    width: 12px;
    height: 23px;
    cursor: pointer;
}

.pages {
    display: flex;
    align-items: center;
}

.pages>li {
    width: 35px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.active-page {
    background-color: #3B7CDD;
    border-radius: 50%;
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    .pagination {
        max-width: 344px;
        padding: 9px 14px;
        margin-bottom: 100px;
    }

    .pagination>img {
        width: 9px;
        height: 16px;
    }
}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    .pagination {
        max-width: 254px;
        padding: 7px 10px;
        margin-bottom: 35px;
    }

    .pagination>img {
        width: 6px;
        height: 10px;
    }

    .pages>li {
        width: 20px;
        height: 20px;
    }
}

/* Footer */

footer {
    background-color: #000000;
    border-radius: 90px 90px 0px 0px;
}

.footer-container {
    padding-top: 30px;
    padding-bottom: 19px;
    text-align: center;
}

.footer-desc {
    margin: 0 auto;
    max-width: 484px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #D0CECE;
    margin-top: 33px;
}

.security {
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: #FFFFFF;
}

/* responsive for tablets */
@media screen and (max-width:900px) {
    footer {
        border-radius: 63px 63px 0px 0px;
    }

    .footer-container {
        padding-top: 21px;
        padding-bottom: 15px;
    }

    .footer-desc {
        max-width: 341px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 21px;
    }

    .security {
        padding: 13px 0;
        font-size: 13px;
        line-height: 20px;
    }
}

/* responsive for mobiles */
@media screen and (max-width:490px) {
    footer {
        border-radius: 37px 37px 0px 0px;
    }

    .footer-container {
        padding-top: 12px;
        padding-bottom: 9px;
    }

    .footer-desc {
        max-width: 199px;
        font-size: 7px;
        line-height: 10px;
        margin-top: 10px;
    }

    .security {
        padding: 6px 0;
        font-size: 6px;
        line-height: 9px;
    }
}